In [10]:
#Improt the database
import pandas as pd
import sqlite3
df = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')
conn = sqlite3.connect('mydb.db')
df.to_sql('Employees', conn, if_exists='replace', index=False)

1470

Q1 Python/ Sqlite

In [ ]:
# count the length by python 
total_employees = len(df)
print(f"Total employees: {total_employees}")

Total employees: 1470

In [12]:
# count the length by SQL
s1= pd.read_sql_query("select count (*) FROM Employees;",conn)
s1

   count (*)
0       1470